<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Ordens</h1>

<table>
  <tr>
    <th>Nome do comprador</th>
    <th>Descrição do item</th>
    <th>Preço do item</th>
    <th>Endereço do vendedor</th>
    <th>Nome do vendedor</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.purchaser_name %></td>
      <td><%= order.item_description %></td>
      <td><%= order.item_price %></td>
      <td><%= order.purchase_count %></td>
      <td><%= order.merchant_address %></td>
      <td><%= order.merchant_name %></td>
    </tr>
  <% end %>
</table>
