<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Ordens</h1>

<table>
  <tr>
    <th>Nome do comprador</th>
    <th>Descrição do item</th>
    <th>Preço do item</th>
    <th>Endereço do vendedor</th>
    <th>Nome do vendedor</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.purchaser.name %></td>
      <td><%= order.item.description %></td>
      <td><%= order.item.price %></td>
      <td><%= order.purchase_count %></td>
      <td><%= order.merchant.address %></td>
      <td><%= order.merchant.name %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'upload', upload_orders_path %>
</p>
